body {margin:0;font-family:Arial;background:#eef2f7;}

.header {
background:#2c7a7b;
color:white;
padding:12px;
text-align:center;
}

.container {display:flex;}

.left,.right {width:50%;padding:10px;}

#map {height:300px;border-radius:10px;}

.inputBox input {
width:80px;
margin:5px;
}

#chart {margin-top:10px;}

#place {font-weight:bold;}
